.pic-size {
  height: 177px;
  width: 344px;
}

.card-width {
  width: 344px;
}

.border {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.divider {
  height: 20px;
  width: 3px;
  color: black;
  --mat-divider-color: rgb(173, 173, 182);
}

.delete-button {
  color: red;
}